.fighter-preview___root {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  align-items: center;
  border: 5px solid #ca9650;
}

.fighter-preview___right {
  background: #2b227d;
}

.fighter-preview___left {
  background: #ff101f;

}
.fighter-preview___img{
  height: 200px;
  padding: 5px 0;
}
.fighter-preview___name{
  width: 100%;
  color: #F1FC56;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  padding: 5px 0;
  border: 5px solid #ca9650;
  background: #41103d;
}

.fighter-preview___stats{
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: #fff;
  padding: 10px 0;
  background: #260624;
}

.fighter-preview___health {
  color: #2ad436;
}

.fighter-preview___attack {
  color: #f00;
}

.fighter-preview___defense {
  color: #477be4;
}
